

.btn {
  margin: 2px;
}

#card-ingredients {
  color: black;
}
.recipe--title {
  color: rgb(65, 131, 126);
}

.favoritesHeader {
  font-size: 50px;
  color:#0F0D0D;
  background-color: #939090;
  margin-bottom: 20px;
}
